 body {
   font-family: Arial, Helvetica, sans-serif;
 }

 .flex {
   display: flex;

 }

 /* section 2  */
 .wrapper {
   max-width: 1225px;
   width: 100%;
   margin: 64px auto 43px auto;
   justify-content: space-between;
   align-items: flex-start;
 }

 .right-block-h {
   width: 380px;
   margin-bottom: 20px;
 }

 .right-block-h,
 .left-block-h {
   font-weight: bold;
   font-size: 48px;
   line-height: 57px;
   color: #23272A;
 }

 .right-block-p {
   width: 355px;
   font-size: 18px;

 }

 .right-block-p,
 .left-block-p {
   line-height: 32px;
   color: #23272A;
 }

 /* third-section */
 .second-wrapper {
   max-width: 1349px;
   width: 100%;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   background-color: #F6F6F6;
   padding-top: 65px;
   padding-bottom: 100px;
 }

 .second-sub-wrapper {
   width: 1215px;
   justify-content: space-between;
   align-items: center;
 }

 .left-block-h {
   width: 352px;
   margin-bottom: 43px;
 }

 .left-block-p {
   width: 352px;
   font-size: 20px;
 }